{% extends 'core/index.html' %}
  {% block content %}

    <div class="container">
      <div class="col-sm-12">
      <div class="inputspecial">
    
   <h2>Upload the image of bar graph here.</h2>
   <div class="formtext">
      <form method="POST" enctype="multipart/form-data">
      
        {% csrf_token %}
        {{ form.data }}
        
        <button type="submit" class="btn btn-primary btn-lg">
        
        Upload Image</button>
        
      </form>
    </div>
    <h2>Instructions:</h2>
    <p id="instructions"> 1.This app has been developed for reading bar graphs only.</br>
       2.Image should be as clear as possible for best results.</br>
       3.The data extracted from the graph will be shown in Tabular form.</br>
       4.A latext script of the tabular data is also available 
      
    </p> 
  
  
    </div>
  </div>
</div>

  {% endblock %}
