{% extends 'core/index.html' %}
  {% block content %}

<div class="row">
    <div class="container">
      <div class="col-sm-12">
      <div class="inputspecial">
    
   <h2>Upload the image of bar graph here.</h2>
   <div class="formtext">
      <form method="POST" enctype="multipart/form-data">
      
        {% csrf_token %}
        {{ form.data }}
        
        <button type="submit" class="btn btn-primary btn-lg">
        
        Upload Image</button>
        
      </form>
    </div>
    <h2>Instructions:</h2>
    <p id="instructions"> 1.This app has been developed for reading bar graphs only.</br>
       2.Image should be as clear as possible for best results.</br>
       3.The data extracted from the graph will be shown in Tabular form.</br>
       4.A latex script of the tabular data is also available 
      
    </p> 
  
    {% if error %}
    <p> class="error-class"> {{error}}</p>
    {% endif %}

    </div>

  </div>
  
  </div>
</div>

<section id="contact">
   <div class="footbar" >
    <div class="row" style="margin-top:550px">
      <h4 class="made">Made with &nbsp;<i class="fa fa-heart" style="font-size:20px;color:#282833"></i>&nbsp;&nbsp;by</h4>
      <div class="col-sm-6 col-xs-6 col-md-6">
        <h3><strong>Contact Us</strong></h3><br>
     <h4>Raghav Ranjan</h4>
     <p style="font-size:15px"> <i class="fa fa-envelope" style="font-size:25px;color:#282833" ></i>&nbsp;ranjan.1@iitj.ac.in</p>
     

     <a href="https://github.com/raghavranjan005"><i class="fa fa-github" style="font-size:25px;color:#282833"></i></a> &nbsp;&nbsp;&nbsp;
     <a href="https://www.linkedin.com/in/raghav-ranjan-827837190/"><i class="fa fa-linkedin" style="font-size:25px;color:#282833"></i></a>&nbsp;&nbsp;&nbsp;
     <a href="https://www.facebook.com/raghav.ranjan.311056"><i class="fa fa-facebook" style="font-size:25px;color:#282833"></i></a>&nbsp;&nbsp;&nbsp;
     <a href="https://www.instagram.com/raghav__005/"><i class="fa fa-instagram" style="font-size:25px;color:#282833"></i></a>

     <br><br>
     <h4>Arpit Gupta</h4>
     <p style="font-size:15px"> <i class="fa fa-envelope" style="font-size:25px;color:#282833" ></i>&nbsp;gupta.25@iitj.ac.in</p>
     

     <a href="https://github.com/arpitgupta1906/"><i class="fa fa-github" style="font-size:25px;color:#282833"></i></a> &nbsp;&nbsp;&nbsp;
     <a href="https://www.linkedin.com/in/arpit-gupta-46462819b/"><i class="fa fa-linkedin" style="font-size:25px;color:#282833"></i></a>&nbsp;&nbsp;&nbsp;
     <a href="https://www.facebook.com/arpitgupta1906"><i class="fa fa-facebook" style="font-size:25px;color:#282833"></i></a>&nbsp;&nbsp;&nbsp;
     <a href="https://www.instagram.com/arpire1906/"><i class="fa fa-instagram" style="font-size:25px;color:#282833"></i></a>
          <br><br>
          <p>Project Mentored by: <h4>Dr. Anand Mishra</h4></p>
           <p>Assistant Professor,IIT Jodhpur</p>
          <br><br>
   </div>
   <div class="col-sm-6 col-xs-6 col-md-6">
     <div class="feedback">

      <h3><strong>Feedback</strong></h3>
      <br>
    <form class= "feedbackform" action="/action_page.php" method="get" id="nameform">
      <input placeholder="Full Name" type="text" id="fname" name="fname" style="height:30px;width:70%;border-radius: 5px;text-indent: 10px;" ><br><br>
      <input placeholder="Email-Id"type="text" id="lname" name="lname" style="width:70%;border-radius: 5px;text-indent: 10px;"><br><br>
      <input placeholder="Feedback :)"type="text" id="lname" name="lname" style="height:200px;width:90%;border-radius: 5px;text-indent: 10px;align-items: flex-start;">

    </form>
    <button type="submit" form="nameform" value="Submit" id="send">Send</button>
    </div>
  </div>
    
</div>
<hr class="new1"></hr>
<div class="row">
<div class="col-sm-12 col-xs-12 col-md-12" style="background-color:#b8bac2 ;">
        <p>Copyright © 2020 | Raghav Ranjan  &  Arpit Gupta</p>
      </div>
</div>
</div>
 </section>





  {% endblock %}
  